transformers>=4.52.0
torch>=2.6.0
peft>=0.15.2
torchvision
pillow
accelerate>=0.33.0
datasets
sentence-transformers
scikit-learn
tqdm
numpy
pandas
requests
huggingface_hub
flash-attn>=2.0.0
wandb>=0.17.0
tensorboard
bitsandbytes